<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>Landing Page</title>
      </head>

      <body>
        <div class="main">
          <div class="header">
            <div class="logo">Logo</div>
            <ul class="header-links">
              <li><a href="#">link one</a></li>
              <li><a href="#">link two</a></li>
              <li><a href="#">link three</a></li>
              <li><a href="#">link four</a></li>
              <li><a href="/form">Sign Up</a></li>
            </ul>
          </div>

          <div class="info">
            Open an Account to Buy, Trade, Invest in Crypto
          </div>

          <div class="block">
            <div class="inner">
              <div class="signup-1">Signup now</div>
              <div class="data">
                <div><span class="mobile-prefix">+91</span></div>
                <div id="num">
                  <input
                    type="text"
                    id="number"
                    maxlength="10"
                    placeholder="10 Digit Mobile Number"
                  />
                </div>
              </div>
              <div class="alr-text">Already a member</div>
              <button class="button-one">Login</button>
            </div>
            <div class="img">
              <a href="form.html"
                ><img
                  src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80"
              /></a>
            </div>
          </div>
          <div class="content">
            <div class="tablehead">
              <div class="headcontent">Instrument</div>
              <div class="headcontent">Last Price</div>
              <div class="headcontent">24Hour Change</div>
              <div class="headcontent">24Hour Volume</div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
            <div class="row">
              <div class="cell">BTC</div>
              <div class="cell">$22,647.43</div>
              <div class="cell">+4.45%</div>
              <div class="cell">$130,915,728.29</div>
              <div class="cell"><button class="details">Details</button></div>
            </div>
          </div>
          <div class="more"><a href="#">View More</a></div>
          <div class="act">
            <div class="box-two">
              <div class="call">
                <div class="action">Sign Up using Email</div>
                <div class="signup">
                  Sign up for our Application by clicking the button on the
                  right
                </div>
              </div>
              <button class="button-two">
                <a href="form.html" id="signup">Sign Up</a>
              </button>
            </div>
          </div>
        </div>
        <div class="footer">
          <ul class="footer-links">
            <li><a href="#">link one</a></li>
            <li><a href="#">link two</a></li>
            <li><a href="#">link three</a></li>
            <li><a href="#">link four</a></li>
            <li><a href="#">link five</a></li>
          </ul>
        </div>
      </body>
    </html>
  </body>
</html>
